* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ddd;
}

header {
    width: 100%;
    height: 10vh;
    background: #000000;
    color: #fff;
    justify-content: center;
}

img{
    width: 9vh;
    margin-top: 0.5vh;
    float: right;
}

.pop {
    width: 600px;
    height: 300px;
    margin: 8vw auto;
    position: relative;
}

.title {
    background: #000000;
    width: 594px;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    background: #fff;
    position: absolute;
    height: 320px;
    width: 594px;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

form {
    display: grid;
    width: 100%;
    margin-top: 80px;
    justify-content: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.btn_ok {
    position: absolute;
    background: #000000;
    font-weight: bold;
    color: #ffffff;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    bottom: 1vh;
    right: 1vw;
}

.btn_ok:hover {
    background: #353535;
    cursor: pointer;
    transition: 0.3s;
}


/* GUIAS */

ul {
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    bottom: 90vh;
}

li {
    padding: 10px 20px;
    background: #a3a3a3;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li:hover {
    background: #464646;
    transition: 0.2s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#atual {
    background: #ddd;
    color: #000000;
}

/* ESTOQUE */

.mainWindow {
    background: #fff;
    max-height: 86vh;
    height: 86vh;
    width: 98vw;
    border-radius: 10px;
    margin: 1vw 1vw;
    position: relative;
    box-shadow: 5px 5px 5px rgb(160, 160, 160);
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

form.pesquisa {
    display: flex;
    width: 100vw;
    margin-top: 1vh;
    justify-content: center;
}

form.pesquisa input#codigo {
    width: 90vw;
    height: 30px;
    background: #f4f4f4;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;

}

form.pesquisa button {
    background: none;
    border: none;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 2.5em;
}